# Eclipse
.classpath
.project
.settings/

# Spring Tool Suite
.apt_generated
.factorypath
.springBeans
.sts4-cache/

# Compiled class file
bin/

# Dependencies
target/
!/.mvn/wrapper/maven-wrapper.jar

# Package Files #
*.jar
*.war
*.ear
